// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// CSS styling for comment boxes and reply boxes

div.comment-box{
  margin: 0;
  padding: 0;
  margin-top:20px;
  margin-bottom:20px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 60em;
}

.base-reply {
  display: none;
}
